body, html {
  height: 100vh;
  width: 100vw;
  user-select: none;
}

.bg-image {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../images/christmas.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(8px);
  filter: blur(8px);
  z-index: -1;
}

.bg-green{
  height: 100%;
  width: 100%;
  background-color: rgba(3, 79, 27, 0.65);
  background-size: cover;
  z-index: 1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  background: linear-gradient(325deg, #03001e95 0%, #7e121d95 35%, #ceac5c95 100%);
  border: 3px solid #f1f1f150;
  border-radius: 8px;
  height: 95%;
  width: 95%;
  max-width: 700px;
  z-index: 3;
}

h2 {
  font-size: 3rem;
  color: #f1f1f1ee;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 10px black;
}

.reset {
  padding: 14px ;
  width: 65%;
  color: #000;
  background-color: #f1f1f1dd;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
 }

.reset:focus {
  color:#7e121d;
  background-color:#ceac5c;
}

.game {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 8px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  height: 20vmin;
  width: 20vmin;
  max-width: 120px;
  max-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #00000025;
  border-radius: 16px;
  transform: rotateY(180deg);
  transition: 0.5s;

  img {
    height: 18vmin;
    width: 18vmin;
    max-width: 115px;
    max-height: 115px;
  }
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(325deg, #03001e 0%, #7e121d 35%, #ceac5c 100%);
  transition: 0.25s;
  transform: rotate(0deg);
  backface-visibility: hidden;
  border-radius: 16px;
}

.item.boxOpen {
  transform: rotate(0deg);
}

.boxOpen::after {
  transform: rotateY(180deg);
}



/* Neve caindo */

#snow-container {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
}

.snow {
  animation: fall ease-in infinite, sway ease-in-out infinite;
  color: #f1f1f160;
  position: absolute;
  z-index: 2;
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 1;
  }
}

@keyframes sway {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50px;
  }
  50% {
    margin-left: -50px;
  }
  75% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}

@media screen and (max-width: 450px){
  h2 {
    font-size: 2rem;
  }
}
