body, html {
  height: 100vh;
  width: 100vw;
  user-select: none;
}

.bg-image {
  background-image: url("../images/christmas.jpg");
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-green{
  height: 100%;
  width: 100%;
  background-color: rgba(3, 79, 27, 0.6);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: linear-gradient(325deg, #03001e95 0%, #7e121d95 35%, #ceac5c95 100%);
  padding: 40px 60px;
  border: 3px solid #f1f1f160;
  border-radius: 8px;
  max-width: 700px;
}

h2 {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.1rem;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
 }

.reset:focus {
  color:#7e121d;
  background-color:#ceac5c;
}

.game {
  width: 80vh;
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  transform-style: preserve-3d;
  perspective: 500px;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  max-width: 100%;
}

.item {
  position: relative;
  height: 105px;
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000025;
  padding: 8px;
  border-radius: 16px;
  transform: rotateY(180deg);
  transition: 0.5s;

  img {
    height: 100%;
  }
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(325deg, #03001e 0%, #7e121d 35%, #ceac5c 100%);
  transition: 0.25s;
  transform: rotate(0deg);
  backface-visibility: hidden;
  border-radius: 16px;

  /* para visualizar melhor */
  /* opacity: 0.90; */
}

.item.boxOpen {
  transform: rotate(0deg);
}

.boxOpen::after {
  transform: rotateY(180deg);
}



/* Neve caindo teste */

#snow-container {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
}

.snow {
  animation: fall ease-in infinite, sway ease-in-out infinite;
  color: #f1f1f160;
  position: absolute;
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 1;
  }
}

@keyframes sway {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50px;
  }
  50% {
    margin-left: -50px;
  }
  75% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}